<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!-- 

              .      ,-.  .             .        .
    ,-. ,-. ,-| . . /,-.\ |-. ,-. . . ,-| ,-.    . ,-.
    ,-| | | | | | | |,-|| | | ,-| | | | | | |    | | |
    `-^ ' ' `-^ `-| \`-^/ ^-' `-^ `-^ `-^ `-' :; ' ' '
                 /|  `-'
                `-'
-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= current_page.data.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <%= stylesheet_link_tag "screen" %>
    <%= javascript_include_tag "libs/modernizr-2.6.1.min" %>
</head>
<body class="<%= current_page.data.bodyclass %>">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <div class="container">

      <header>
        <h1>Andy Baudoin
            <span>Front-end Developer,<br>
            Maker,<br>
            Designer</span>
        </h1>
        <p>Living and working in <br>the Portland area.</p>

        <div class="social">
            <a href="https://twitter.com/baudoin">
                <i class="icon-twitter"></i> 
            </a>
            <a href="https://github.com/baudoin">
                <i class="icon-github"></i> 
            </a>
            <a href="http://www.linkedin.com/in/baudoin/">
                <i class="icon-linkedin"></i> 
            </a>
        </div>

      </header>

      <div class="work" role="main">
        <%= yield %>
      </div>

    </div>

    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" %>
    <script>window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.9.0.min.js"><\/script>')</script>

    <%= javascript_include_tag "libs/ember-1.0.0-rc.3", "libs/handlebars-1.0.0-rc.3" %>

    <%= javascript_include_tag "plugins", "app" %>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7218772-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
